<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>
<body>
  <%- include ("../partials/nav.ejs") %>

    <div class="col-md-6">
      <p>
        Welcome to propsys!
      </p>
      <ul>
        <li>This app was deployed to Heroku from kyle's GIT <a href="https://github.com/kylehillman/herokudeployment">Heroku Button</a> on the repository.</li>
      </ul>
    </div>
</body>
</html>
