<!DOCTYPE html>
<html>
<%- include('../includes/head', { pageTitle: 'add data' }) %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/forms.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/auth.css" />
    </head>
    <body>
        <%- include ("../partials/nav.ejs") %>
            <h1>Plots will go here</h1>
    </body>
    
    </html>